---
import styles from "./Header.module.css";
const path = Astro.url.pathname;
const basePath = import.meta.env.BASE_URL || "/";
const { planet } = Astro.props;

const color = planet.color;
---

<header class={styles.Header} id="header">
  <div class={styles.headerLeft}>
    <a
      href=`${basePath}planets/mercury`
      class={`${path.endsWith("/mercury") ? `${styles.LogoActive} act` : ""}`}
      data-astro-prefetch
    >
      <h2 class={styles.Logo}>THE PLANETS</h2>
    </a>
    <img
      class={styles.Hamburger}
      src="../images/icon-hamburger.svg"
      alt="mobile menu"
      id="hamburger"
    />
  </div>
  <nav class={styles.Navigation}>
    <a
      href=`${basePath}planets/mercury`
      class={`${styles.Item} ${path.endsWith("/mercury") ? `${styles.Active} act` : ""}`}
      data-astro-prefetch
      style={path.endsWith("/mercury") ? `border-color: ${color}` : ""}
    >
      <h4>MERCURY</h4>
    </a>
    <a
      href=`${basePath}planets/venus`
      class={`${styles.Item} ${path.endsWith("/venus") ? `${styles.Active} act` : ""}`}
      data-astro-prefetch
      style={path.endsWith("/venus") ? `border-color: ${color}` : ""}
    >
      <h4>VENUS</h4>
    </a>
    <a
      href=`${basePath}planets/earth`
      class={`${styles.Item} ${path.endsWith("/earth") ? `${styles.Active} act` : ""}`}
      data-astro-prefetch
      style={path.endsWith("/earth") ? `border-color: ${color}` : ""}
    >
      <h4>EARTH</h4>
    </a>
    <a
      href=`${basePath}planets/mars`
      class={`${styles.Item} ${path.endsWith("/mars") ? `${styles.Active} act` : ""}`}
      data-astro-prefetch
      style={path.endsWith("/mars") ? `border-color: ${color}` : ""}
    >
      <h4>MARS</h4>
    </a>
    <a
      href=`${basePath}planets/jupiter`
      class={`${styles.Item} ${path.endsWith("/jupiter") ? `${styles.Active} act` : ""}`}
      data-astro-prefetch
      style={path.endsWith("/jupiter") ? `border-color: ${color}` : ""}
    >
      <h4>JUPITER</h4>
    </a>
    <a
      href=`${basePath}planets/saturn`
      class={`${styles.Item} ${path.endsWith("/saturn") ? `${styles.Active} act` : ""}`}
      data-astro-prefetch
      style={path.endsWith("/saturn") ? `border-color: ${color}` : ""}
    >
      <h4>SATURN</h4>
    </a>
    <a
      href=`${basePath}planets/uranus`
      class={`${styles.Item} ${path.endsWith("/uranus") ? `${styles.Active} act` : ""}`}
      data-astro-prefetch
      style={path.endsWith("/uranus") ? `border-color: ${color}` : ""}
    >
      <h4>URANUS</h4>
    </a>
    <a
      href=`${basePath}planets/neptune`
      class={`${styles.Item} ${path.endsWith("/neptune") ? `${styles.Active} act` : ""}`}
      data-astro-prefetch
      style={path.endsWith("/neptune") ? `border-color: ${color}` : ""}
    >
      <h4>NEPTUNE</h4>
    </a>
  </nav>
</header>
